<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="sidebar(active)"
     class="admin-sidebar">

    <div class="admin-brand">

        <span>☕</span>

        <span>Smart Cafe</span>

    </div>


    <ul class="admin-menu">

        <li>
            <a th:href="@{/admin/dashboard}"
               th:classappend="${active == 'dashboard'} ? 'active'">

                <span>▦</span>
                <span>Dashboard</span>

            </a>
        </li>


        <li>
            <a th:href="@{/admin/staff/page}"
               th:classappend="${active == 'staff'} ? 'active'">

                <span>👥</span>
                <span>Nhân viên</span>

            </a>
        </li>


        <li>
            <a th:href="@{/admin/category/page}"
               th:classappend="${active == 'category'} ? 'active'">

                <span>☷</span>
                <span>Danh mục</span>

            </a>
        </li>


        <li>
            <a th:href="@{/admin/product/page}"
               th:classappend="${active == 'product'} ? 'active'">

                <span>☕</span>
                <span>Sản phẩm</span>

            </a>
        </li>


        <li>
            <a th:href="@{/admin/table/page}"
               th:classappend="${active == 'table'} ? 'active'">

                <span>🪑</span>
                <span>Bàn</span>

            </a>
        </li>


        <li>
            <a href="#">

                <span>🧾</span>
                <span>Đơn hàng</span>

            </a>
        </li>


        <li>
            <a th:href="@{/admin/payments}"
               th:classappend="${active == 'payments'} ? 'active'">

                <span>💰</span>
                <span>Thanh toán</span>

            </a>
        </li>

    </ul>


    <div class="admin-sidebar-bottom">

        <form th:action="@{/logout}"
              method="post">

            <button type="submit">
                ↪ Đăng xuất
            </button>

        </form>

    </div>

</nav>

</body>
</html>